/* Basic styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  /* Chat container */
  .chat-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Chat header */
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Chat info */
  .chat-info {
    display: flex;
    align-items: center;
  }
  
  .chat-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .chat-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Chat icons */
  .chat-icons {
    display: flex;
  }
  
  .chat-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Chat messages */
  .chat-messages {
    overflow-y: scroll;
    height: 300px; /* Adjust as needed */
    padding: 10px;
  }
  
  .chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .chat-message-self {
    flex-direction: row-reverse;
  }
  
  .chat-profile-picture-self {
    margin-left: 15px;
    margin-right: 0;
  }
  
  .chat-message-text {
    background-color: #ffe819;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-break: break
  }